<div id="forms">
    <form action="/translate" method="post">
        <div id="text-area">
            <textarea id="textToTranslate" name="text" placeholder="INSIRA O TEXTO A SER TRADUZIDO"></textarea>
            <textarea id="resultTranslation" name="translate" readonly>{{translate}}</textarea>
        </div>
        <button type="submit">Traduzir</button>
    </form>
</div>